# Broker API
smartapi-python==1.4.1

# Security & Authentication
pyotp==2.9.0
python-dotenv==1.0.1

# Asynchronous & Networking
asyncio==3.4.3
httpx==0.27.0

# Telegram Bot Interface
python-telegram-bot==20.8

# Data Handling
pandas==2.2.1
numpy==1.26.4
